button {
    background: linear-gradient(135deg, rgba(183,222,237,0.83) 1%, rgba(183,222,237,1) 3%, rgba(183,222,237,1) 6%, rgba(78,118,196,1) 98%);
    color: black;
    font-weight: bold;
    border-radius: 6px;
    width: 140px;
    height: 35px;
    text-align: center;
}

.formlayout {
    height: 100px;
    text-align: center;

}

.Generic {
    text-align: left;
    border-bottom: 3px solid rgba(78,118,196,1);
    border-style: outset;
    border-radius: 5px;
    height: 35px;
    margin-top: 10px;
    width: 300px;
    background: transparent;
}

.her11 {
    text-align: center;
}

.h33 {
    text-align: center;
}

.error {
    text-align: left;
    border-style: outset;
    height: 30px;
    margin-top: 20px;
    width: 300px;
    background: red;

}

.errormessage{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,54,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    width: 315px; 
    border-radius: 5px;
    margin-left: 30px;
}
