.h21 {
    text-align: center;
    margin-top: 10px;

}

table {
  margin-top: 10px;
  font-weight: bold ;
  text-align: center;
  width: 640px;
}

th,td {
    padding-right: 50px;
    border-radius: 5px;
    text-align: center;
    border: 1pX solid #CCC;
}

th {  
    background: #F3F3F3; 
    font-weight: bold;
}
