.Header {
    font-weight: bold;
    color: rgb(3, 3, 66);
    display: inline-block;
    width: 100%; clear:both;
    text-align: center;
    white-space: nowrap;
}

.mylogo {
     float:left;
        margin-left: 10px;
    
}